/*reference stylesheet*/
body {
    background-color: pink;
    font-family: 18px;
    }
    .site-title {
        color: rgb(36, 173, 139);
     }

#my-image {

    box-shadow: 0px 0px purple;
}

 #my-image {
    box-shadow: 2px 2px lightblue;
}

 #my-image  {
    box-shadow: 1px 1px black;
}
ul {
    list-style-type: square;
  }

  ul2 {
      list-style-type: none;
  }

  .red-background {
      background-color: burlywood;
  }

  a:link,a:visited {
    background-color:salmon;
    color:white;
    padding: 2px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    border:1px solid black;
}

a:active {
    background-color: rgb(250, 107, 91);
}
 
