/* index.html css stylesheet */
h1{
    font-size: 50px;
}

.center {
    text-align: center;
}

body {
    background-color: rgb(142, 233, 224);
    background-image: url("../images/lone-starfish-wide.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
